body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.discoveryWrapper {
  max-width: 790px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Header */
.headerContainer {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonsContainer {
  display: flex;
  align-items: center;
}

/* Carousel */
.trackContainer {
  /* background-color: red; */
  overflow: hidden;
}
.cardTrack {
  display: flex;
  flex-direction: row;
}
/* Card */
.card {
  /* background-color: yellowgreen; */
}
.card a {
  display: block;
}
.card .top {
  position: relative;
  width: 100%;
}
.card .top>div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card .top>.online {
  /* background-color: bisque; */
}
.card .top>.online {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card .top>.online>div {
  color: white;
  padding: 10px;
}

